:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  overflow: hidden; /* Evita que aparezca el scrollbar */
}

#game-container {
  position: relative;
  display: flex;
}

canvas {
  background-color: black;
  display: block;
  margin-right: 10px; /* Ajuste del espacio entre el tablero y el HUD */
}

/* Contenedor principal del HUD */
#hud-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 100%; /* Justo al lado del tablero */
  margin-left: 10px; /* Espacio entre el tablero y el HUD */
  color: white;
  font-size: 1.5em;
  padding: 10px;
}

/* Contenedor del temporizador */
#timer-container, #score-container {
  display: flex;
  align-items: center; /* Alineación vertical de los textos */
  margin-bottom: 5px; /* Espacio entre los elementos */
}

/* Evitar el salto de línea entre los textos */
#timer, #score {
  white-space: nowrap;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
